/*--------------social-media------------------*/
#social-media{
    background: #f8f9fa;
    padding: 50px 0;
}
#social-media .container > p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
#social-media .row{
    position: relative;
    top: 50px;
}
.social-icons i{
    width: 50px;
    font-size: 30px;
    transition: 0.5s;
}
.social-icons a:hover i{
    transform: translateY(-10px);
    text-shadow: 5px 5px 7px #717171;
}

.card{
    box-shadow: 0 10px 25px #b1b1b1;
}

.card-img-top{
    width: 120px;
    height: 120px;
    position: absolute;
    top: -65px;
    left: calc(50% - 60px);
}
/*--------------social-media end--------------*/

/*-----------------Footer---------------------*/
#footer{
    background-image: -moz-linear-gradient(to right, #ff3399, #990099);
    background-image: -webkit-linear-gradient(to right, #ff3399, #990099);
    background-image: linear-gradient(to right, #ff3399, #990099);
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer .row{
    padding-bottom: 30px;
}
/*---------------Footer End-------------------*/

/*---------------Scroll button----------------*/
.scrollToTop{
    width: 50px; 
    height: 50px;
    padding:10px; 
    background: rgba(245, 245, 245, 0.5);
    border: 3px solid #990099;
    border-radius: 50%;
    position:fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}
.scrollToTop:hover{
    text-decoration: none;
}
/*-------------Scroll button end---------------*/