*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Atma';
    letter-spacing: 1.5px;
}

/*----------------Nav bar-------------------*/
#navbar{
    background-image: -moz-linear-gradient(to right, #ff3399, #990099);
    background-image: -webkit-linear-gradient(to right, #ff3399, #990099);
    background-image: linear-gradient(to right, #ff3399, #990099);
}
#navbar a, #navbar .fa{
    color: #fadcf2;
    text-decoration: none;
    transition: all 0.5s;
}
#navbar a:hover, #navbar .fa:hover{
    color: white;
}
.navbar-brand img{
    width: 40px;
    height: 40px;
    display: inline-block;
}
/*----------------Nav bar end----------------*/

/*----------------Banner---------------------*/
#banner{
    background-image: -moz-linear-gradient(to right, #ff3399, #990099);
    background-image: -webkit-linear-gradient(to right, #ff3399, #990099);
    background-image: linear-gradient(to right, #ff3399, #990099);
}

#banner .boy{
    background-image: url('../asset/boy.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right;
}
#banner .about-brief{
    font-family: 'Atma';
}
#banner .bio{
    font-size: 17px;
}
.btn-my{
    background-image: linear-gradient(to right, #34ebc0, #34eb5f);
}
/*----------------Banner End-----------------*/

/*----------------Services--------------------*/
.section-heading::before{
    content: '';
    background-image: linear-gradient(to right, #ff3399, #990099);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(55px);
}
.section-heading::after{
    content: '';
    background-image: linear-gradient(to right, #ff3399, #990099);
    height: 15px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(11px);
}
.section-heading{
    font-variant: small-caps;
}
#services img{
    border: 1px solid #990099;
    border-radius: 50%;
}
#services .btn-my{
    background-image: linear-gradient(to right, #ff3399, #990099);
    color: white;
}
#services h4{
    padding: 5px;
    margin-top: 25px;
}
/*----------------Services End----------------*/
/*----------------About-----------------------*/
#about-us{
    background: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
}
#about-us .about-title{
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
}
#about-us ul li{
    margin: 10px 5px;
}
#about-us ul{
    margin-left: 20px;
}
#about-us .img{
    /*
    width: 100%;
    height: 250px;
    */
    background-image: url(../asset/about.svg);
    background-size: 100% 100%;
    background-position: right;
}
/*----------------About End-------------------*/

/*----------------testimonial-----------------*/
#testimonials{
    margin: 100px 0;
}
.testimonials{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}
.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-details{
    display: inline-block;
    font-size: 12px;
}
/*----------------testimonial end-------------*/

/*--------------social-media------------------*/
#social-media{
    background: #f8f9fa;
    padding: 50px 0;
}
#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons i{
    width: 50px;
    font-size: 30px;
    transition: 0.5s;
}
.social-icons a:hover i{
    transform: translateY(-10px);
}
/*--------------social-media end--------------*/

/*-----------------Footer---------------------*/
#footer{
    background-image: -moz-linear-gradient(to right, #ff3399, #990099);
    background-image: -webkit-linear-gradient(to right, #ff3399, #990099);
    background-image: linear-gradient(to right, #ff3399, #990099);
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer .row{
    padding-bottom: 30px;
}
/*---------------Footer End-------------------*/

/*Media quary for nav*/
@media only screen and (max-width: 991px) {
    #navbar ul li{
        width: 100%;
        margin: auto;
        text-align: center;
    }
}
/*---------------------------------------------*/