*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Atma';
    letter-spacing: 1.5px;
}

.section-heading::before{
    content: '';
    background-image: linear-gradient(to right, #ff3399, #990099);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(55px);
}
.section-heading::after{
    content: '';
    background-image: linear-gradient(to right, #ff3399, #990099);
    height: 15px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(11px);
}

.btn-my{
    background-image: linear-gradient(to right, #34ebc0, #34eb5f);
}